<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Les éditions Patrick Jobin</title>
        <meta name="description" content="Ayant choisi l’autoédition, j’ai fondé les Éditions Patrick Jobin afin de faciliter la distribution de mes propres livres. J’y trouve dans cette forme, la liberté et toute l’autonomie recherchée. Par ailleurs, je dois bien avouer qu’il y avait là aussi un certain plaisir de relever un défi colossal d’ainsi me voir distribué un peu partout à l’échelle du Québec et peut-être même la France et d’autres régions du monde. Certes un rêve fou, mais une aventure palpitante.">
        <meta property="og:title" content="Les éditions Patrick Jobin">
        <meta property="og:description" content="Ayant choisi l’autoédition, j’ai fondé les Éditions Patrick Jobin afin de faciliter la distribution de mes propres livres. J’y trouve dans cette forme, la liberté et toute l’autonomie recherchée. Par ailleurs, je dois bien avouer qu’il y avait là aussi un certain plaisir de relever un défi colossal d’ainsi me voir distribué un peu partout à l’échelle du Québec et peut-être même la France et d’autres régions du monde. Certes un rêve fou, mais une aventure palpitante.">
        <meta property="og:type" content="book">

        <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
        <link rel="manifest" href="/fav/site.webmanifest">
        <link rel="mask-icon" href="/fav/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        {{ stack:scripts }}
        {{ vite src="resources/scripts/app.js" }}
    </head>
    <body>
        
        {{ partial:components/loader }}

        <main>
            {{ template_content }}
        </main>
    </body>
</html>