<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
        <link rel="icon" type="image/png" href="/images/favicon.png">
        {{ stack:scripts }}
        {{ vite src="resources/scripts/app.js" }}
    </head>
    <body>
        <div class="c-loader h-full w-full fixed top-0 left-0 z-[10000] bg-white flex flex-col justify-center items-center">
            <div class="relative">
                <div class="absolute h-[300px] w-[100%] bottom-[calc(100%-106px)] overflow-hidden">
                    <div class="sun-wrapper relative left-[10%] w-[40%] top-[100%] origin-right">
                        <div class="sun w-[80px] h-[80px] rounded-full"></div>
                    </div>
                </div>
                <h1 class="relative text-neutral text-5xl leading-[1.2em] font-writter font-light z-10 overflow-hidden">
                    <span class="relative leading-none">
                        <span class="firstname-wrapper relative leading-none inline-block">
                            <span class="firstname relative leading-none inline-block">Patrick</span>
                        </span>
                        <span class="lastname-wrapper relative leading-none inline-block">
                            <span class="lastname relative leading-none inline-block">Jobin</span>
                        </span>
                    </span>
                </h1>
                <p class="author text-neutral text-center text-xl mt-[-10px]">Auteur</p>
                <div class="absolute h-[300px] w-[100%] top-[calc(100%-160px)] overflow-hidden">
                    <div class="moon-wrapper relative left-[10%] w-[40%] top-[-80px] origin-right">
                        <div class="moon w-[80px] h-[80px] rounded-full"></div>
                    </div>
                </div>
            </div>
            <button class="c-button enter cursor-pointer text-black mt-10 px-8 py-2 border-2 opacity-0 relative z-10 overflow-hidden rounded-lg">
                <span>Bienvenue</span>
            </button>
            <video class="absolute top-0 left-0 z-[-1] w-full h-full bg-cover bg-center" muted autoplay style="mix-blend-mode: difference;" loop src="/videos/dust.mp4"></video>
        </div>
        <main>
            {{ template_content }}
        </main>
    </body>
</html>