@font-face {
    font-family: 'Stellar';
    src:
        url('../fonts/PPStellar-Bold.woff2') format('woff2');
        font-weight: 700;
}
@font-face {
    font-family: 'Stellar';
    src:
        url('../fonts/PPStellar-Medium.woff2') format('woff2');
        font-weight: 600;
}
@font-face {
    font-family: 'Stellar';
    src:
        url('../fonts/PPStellar-Regular.woff2') format('woff2');
        font-weight: 500;
}
@font-face {
    font-family: 'Stellar';
    src:
        url('../fonts/PPStellar-Light.woff2') format('woff2');
        font-weight: 400;
}
@font-face {
    font-family: 'Writter';
    src:
        url('../fonts/PPWriter-Variable.woff') format('woff supports variations'),
        url('../fonts/PPWriter-Variable.woff') format('woff-variations');
}


@font-face {
    font-family: 'Mona Sans';
    src:
        url('../fonts/PPStellar-Bold.woff2') format('woff2 supports variations'),
        url('../fonts/PPStellar-Bold.woff2') format('woff2-variations');
}

@font-face {
    font-family: 'Le murmure';
    src: url('../fonts/Le-Murmure.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }